<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            
            <p>A public API from the Skills Funding Agency to provide a list of:</p>
            <ul class="list list-bullet">
                <li>Apprenticeship Standards</li>
                <li>Apprenticeship Frameworks</li>
                <li>Assessment Organisations</li>
                <li>Apprenticeship Training Providers</li>
            </ul>
            <p>and their relationships</p>

            <table>
                
                <tbody>
                    <tr>
                        <th>Swagger API definition</th>
                        <td><a href="http://das-prd-apprenticeshipinfoservice.cloudapp.net/swagger/docs/v1"><img src="http://online.swagger.io/validator?url=http://das-prd-apprenticeshipinfoservice.cloudapp.net:80/swagger/docs/v1" /></a></td>
                    </tr>
                    <tr>
                        <th>Chat with the developers</th>
                        <td><a href="https://gitter.im/sfa-das-apprenticeship-programmes-api/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link"><img src="https://badges.gitter.im/gitterHQ/gitterHQ.github.io.svg" /></a></td>
                    </tr>
                </tbody>
            </table>

            <h2 class="heading-large">Query the API</h2>

            <div class="swagger-section">
                <!--<div id='header'>
                    <div class="swagger-ui-wrap">
                        <a id="logo" href="http://swagger.io">swagger</a>
                        <form id='api_selector'>
                            <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
                            <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
                            <div class='input'><a id="explore" href="#" data-sw-translate>Explore</a></div>
                        </form>
                    </div>
                </div>
                <div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>-->
                <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
            </div>

            <h2 class="heading-large"> </h2>

            <h2 class="heading-large">C# client usage</h2>

            <table>
                <tbody>
                    <tr>
                        <th><a href="https://www.nuget.org/packages/SFA.DAS.Apprenticeships.Api.Client">SFA.DAS.Apprenticeships.Api.Client</a></th>
                        <td><a href="https://www.nuget.org/packages/SFA.DAS.Apprenticeships.Api.Client"><img src="https://img.shields.io/nuget/v/SFA.DAS.Apprenticeships.Api.Client.svg" /></a></td>
                    </tr>
                    <tr>
                        <th><a href="https://www.nuget.org/packages/SFA.DAS.Providers.Api.Client/">SFA.DAS.Providers.Api.Client</a></th>
                        <td><a href="https://www.nuget.org/packages/SFA.DAS.Providers.Api.Client/"><img src="https://img.shields.io/nuget/v/SFA.DAS.Providers.Api.Client.svg" /></a></td>
                    </tr>
                    <tr>
                        <th><a href="https://www.nuget.org/packages/SFA.DAS.AssessmentOrgs.Api.Client/">SFA.DAS.AssessmentOrgs.Api.Client</a></th>
                        <td><a href="https://www.nuget.org/packages/SFA.DAS.AssessmentOrgs.Api.Client/"><img src="https://img.shields.io/nuget/v/SFA.DAS.AssessmentOrgs.Api.Client.svg" /></a></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="heading-medium">Basic</h3>
            <pre>
                <code class="language-csharp">
using(var client = new StandardApiClient())
{
    var standard = client.Get(12);
}

using(var client = new FrameworkApiClient())
{
    var framework = client.Get("403-1-8");
}

using(var client = new ProviderApiClient())
{
    var provider = client.Get(1003141);
}

using(var client = new AssessmentOrgsApiClient())
{
    var org = client.Get("EPA0001");
}
                </code>
            </pre>
            
            <h3 class="heading-medium">Using StructureMap</h3>
            <pre>
                <code class="language-csharp">
For&lt;IStandardApiClient&gt;().Use&lt;StandardApiClient&gt;();
For&lt;IFrameworkApiClient&gt;().Use&lt;FrameworkApiClient&gt;();
For&lt;IProviderApiClient&gt;().Use&lt;ProviderApiClient&gt;();
For&lt;IAssessmentOrgsApiClient&gt;().Use&lt;ProviderApiClient&gt;();
                </code>
            </pre>

            @*<h2 class="heading-medium">Help</h2>
                <p>You can contact the National Apprenticeship Service for advice or help using the service.</p>
                <div class="contact">
                    <p>
                        <strong>National Apprenticeship Service</strong><br>
                        Telephone: 0800 015 0600
                        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
                    </p>
                </div>*@
        </div>
    </div>
</main>

@section footerJS
{
    <script>
        hljs.initHighlightingOnLoad();

        $('pre code').each(function (i, e) {
            hljs.highlightBlock(e);
        });
    </script>
}